.text-brand{
  color: #1cc7c1;
}
.btn-brand{
  background-image: linear-gradient(75deg,#60ecd0,#0fcfec);
  border-color: transparent;
  padding: 5px 25px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  color: white;
}
